menu "someip-stack (/Users/vzein/Projects/spikes/modules/opensomeip)"
osource "/Users/vzein/Projects/spikes/modules/opensomeip/zephyr/Kconfig"
config ZEPHYR_SOMEIP_STACK_MODULE
	bool
	default y
endmenu
menu "cmsis (/Users/vzein/Projects/spikes/modules/hal/cmsis)"
osource "$(ZEPHYR_CMSIS_KCONFIG)"
config ZEPHYR_CMSIS_MODULE
	bool
	default y
endmenu
menu "cmsis_6 (/Users/vzein/Projects/spikes/modules/hal/cmsis_6)"
osource "$(ZEPHYR_CMSIS_6_KCONFIG)"
config ZEPHYR_CMSIS_6_MODULE
	bool
	default y
endmenu
config ZEPHYR_HAL_STM32_MODULE
	bool
	default y

config ZEPHYR_HAL_STM32_MODULE_BLOBS
	bool
menu "segger (/Users/vzein/Projects/spikes/modules/debug/segger)"
osource "$(ZEPHYR_SEGGER_KCONFIG)"
config ZEPHYR_SEGGER_MODULE
	bool
	default y
endmenu
